.animation {
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
}

.height {
	overflow: hidden;
	height: var(--height, auto);
}

.visible {
	opacity: 1;
	pointer-events: auto;
}

.from_bottom,
.from_left,
.from_right,
.from_top {
	overflow: visible;
}

.from_bottom {
	transform: translateY(100%);
}

.visible.from_bottom {
	transform: translateY(0);
}

.from_left {
	transform: translateX(-100%);
}

.visible.from_left {
	transform: translateX(0);
}

.from_right {
	transform: translateX(100%);
}

.visible.from_right {
	transform: translateX(0);
}

.from_top {
	transform: translateY(-100%);
}

.visible.from_top {
	transform: translateY(0);
}
